{% extends 'base.html' %}
<head>
    {% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'about.css' %}">
    {% endblock %}
</head>
{% block content %}
<div class="name-profile">
    <h2>FullStack Developer</h2>
    <h3>Yoonsang 입니다.</h3>
</div>

<div class="skill-stack frontend">
    <h3 class="skill-title">FrontEnd Skills</h3>
    <ul class="skill-list">
        <li class="skill-item">HTML
            <div class="skill-level">Expert</div>
        </li>
        <li class="skill-item">CSS
            <div class="skill-level">Expert</div>
        </li>
        <li class="skill-item">JavaScript
            <div class="skill-level">Intermediate</div>
        </li>
        <li class="skill-item">JQuery
            <div class="skill-level">Intermediate</div>
        </li>
        <li class="skill-item">React
            <div class="skill-level">Beginner</div>
        </li>
    </ul>
</div>

<div class="skill-stack backend">
    <h3 class="skill-title">BackEnd Skills</h3>
    <ul class="skill-list">
        <li class="skill-item">Django
            <div class="skill-level">Intermediate</div>
        </li>
        <li class="skill-item">Flask
            <div class="skill-level">Intermediate</div>
        </li>
        <li class="skill-item">Node.JS
            <div class="skill-level">Beginner</div>
        </li>
    </ul>
</div>

<div class="skill-stack other">
    <h3 class="skill-title">Other Skills</h3>
    <ul class="skill-list">
        <li class="skill-item">Python
            <div class="skill-level">Expert</div>
        </li>
        <li class="skill-item">Java
            <div class="skill-level">Expert</div>
        </li>
        <li class="skill-item">Flutter
            <div class="skill-level">Intermediate</div>
        </li>
        <li class="skill-item">Git
            <div class="skill-level">Intermediate</div>
        </li>
        <li class="skill-item">AWS
            <div class="skill-level">Beginner</div>
        </li>   
        <li class="skill-item">Firebase
            <div class="skill-level">Beginner</div>
        </li>
    </ul>
</div>
{% endblock %}