{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if post_list %}
    <div class="row justify-content-end my-3">
        <div class="col-4 input-group" id="search-div">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
    <ul class="card-list">
    {% for blogpost in post_list %}
        <li class="card-item">
            <a href="{% url 'alog:detail' blogpost.id %}"><figure class="card-image"></figure></a>
            <div class="card-desc">
                <a class="link post-title" href="{% url 'alog:detail' blogpost.id %}">{{ blogpost.subject }}</a>
                <p class="date">{{ blogpost.create_date }}</p>
                <p class="writer">YoonSang</p>
            </div>
        </li>
    {% endfor %}
    </ul>
    {% if user.is_superuser %}
    <div class="goto-write">
        <a class="goto-write-btn" href="{% url 'alog:post_create' %}">글쓰기</a>
    </div>
    {% endif %}
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if post_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ post_list.previous_page_number }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in post_list.paginator.page_range %}
        {% if page_number >= post_list.number|add:-5 and page_number <= post_list.number|add:5 %}
            {% if page_number == post_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if post_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <form id="searchForm" method="get" action="{% url 'index' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
    </form>
{% else %}
    <p>게시된 글이 없습니다.</p>
{% endif %}
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });
    
    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}