{% extends 'base.html' %}
{% block content %}
{% if post_list %}
    <ul class="card-list">
    {% for blogpost in post_list %}
        <li class="card-item">
            <a href="{% url 'alog:detail' blogpost.id %}">
                <figure class="card-image"></figure>
                <div class="card-desc">
                    <h2 class="post-title">{{ blogpost.subject }}</h2>
                    <p class="date">{{ blogpost.create_date }}</p>
                    <p class="writer">Yoonsang</p>
                </div>
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>게시된 글이 없습니다.</p>
{% endif %}
{% endblock %}