{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<h1>{{ blogpost.subject }}</h1>

<div>
    {{ blogpost.content }}
</div>

<h5>{{ blogpost.answer_set.count }}개의 댓글이 있습니다.</h5>
<div>
    <ul>
    {% for answer in blogpost.answer_set.all %}
        <li>{{ answer.content }}</li>
    {% endfor %}
    </ul>
</div>

<form action="{% url 'alog:answer_create' blogpost.id %}" method="POST">
{% csrf_token %}
<textarea name="content" id="content" rows="15"></textarea>
<input type="submit" value="댓글등록">
</form>