{% extends 'base.html' %}
<head>
    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock %}
</head>
{% load alog_filter %}
{% block content %}
<h1 class="detail-post-title">{{ blogpost.subject }}</h1>

<div class="detail-post-content">
    {{ blogpost.content|mark }}
</div>

{% if user.is_superuser %}
<div class="detail-post-status-btn">
    <a class="post-status-btn" href="{% url 'alog:post_modify' blogpost.id %}">수정</a>
    <a class="post-status-btn delete-link" href="#" data-uri="{% url 'alog:post_delete' blogpost.id %}">삭제</a>
</div>
{% endif %}

<h5 class="detail-post-answer">{{ blogpost.answer_set.count }}개의 댓글이 있습니다.</h5>
<div>
    <ul class="detail-post-list">
    {% for answer in blogpost.answer_set.all %}
        <a name="answer_{{ answer.id }}"></a>
        <li class="detail-post-item">
            <span class="answer-username">{{answer.author.username }}</span>{{ answer.content }}
            {% if request.user == answer.author %}
            <span class="answer-modify">
                <a href="{% url 'alog:answer_modify' answer.id %}" class="modify-link">수정</a>
            </span>
            <span class="answer-delete">
                <a href="#" class="delete-link" data-uri="{% url 'alog:answer_delete' answer.id %}">삭제</a>
            </span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>

<form action="{% url 'alog:answer_create' blogpost.id %}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field in form %}
        {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors }}
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    {% if not user.is_authenticated %}
    <div class="detail-submit-disabled">
        <a class="detail-to-login" href="{% url 'common:login' %}">로그인 후 이용하세요</a>
    </div>
    {% else %}
    <div class="detail-submit-box">
        <textarea name="content" id="content" rows="15"></textarea>
        <input class="submit" type="submit" value="댓글등록">
    </div>
    {% endif %}
</form>
{% endblock %}
{% block extra-script %}
<script src="{% static 'jquery-3.5.1.min.js' %}"></script>
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete-link").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}