{% extends 'base.html' %}
{% load alog_filter %}
{% block content %}
<h1 class="detail-post-title">{{ blogpost.subject }}</h1>

<div class="detail-post-content">
    {{ blogpost.content|mark }}
</div>

<h5 class="detail-post-answer">{{ blogpost.answer_set.count }}개의 댓글이 있습니다.</h5>
<div>
    <ul class="detail-post-list">
    {% for answer in blogpost.answer_set.all %}
        <li class="detail-post-item">{{ answer.content }}</li>
    {% endfor %}
    </ul>
</div>

<form action="{% url 'alog:answer_create' blogpost.id %}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field in form %}
        {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors }}
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    <div class="detail-submit-box">
        <textarea name="content" id="content" rows="15"></textarea>
        <input class="submit" type="submit" value="댓글등록">
    </div>
</form>
{% endblock %}