.name-profile {
    margin: 1rem;
}

.skill-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, auto));
	column-gap: 2%;
    margin: 1rem;
}

.skill-item {
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
}
.skill-level {
    margin-top: 0.2em;
    font-size: 0.7em;
}

.skill-item:hover {
    background-color: steelblue;
    color: white;
    transition: 0.5s;
}

.skill-title {
    text-align: center;
}