.contact-title {
    margin: 1rem;
}

.contact-content {
    margin: 1rem;
    padding: 1rem;
}

.contact-item {
    margin: 1rem;
    padding: 1rem;
    display: flex;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.contact-text {
    font-weight: bold;
}

.contact-link {
    text-decoration: none;
    color: steelblue;
}