html {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.page {
	display: grid;
	/* padding: 1rem; */
}

/* header and menu */
.web-title {
	font-size: 36px;
}

.menu-button {
	margin-left: auto;
}

.line {
	background: black;
	width: 20px;
	height: 5px;
	border-radius: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.global-nav {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	padding: 1rem;
	/* margin: 1rem; */
	line-height: normal;
	position: fixed;
	top: 0;
	backdrop-filter: saturate(180%) blur(15px);
	-webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	background: rgba(255, 255, 255, 0.1);
}

.header {
	width: 100%;
	height: 70px;
	/* position: sticky;
	top: 0; */
	display: flex;
	flex-wrap: wrap;
	z-index: 2;
}

.section {
	padding: 0.5rem;
	margin: 0.5rem;
	box-sizing: border-box;
}

.link {
	display: block;
	color: black !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

.local-nav {
	display: flex;
	width: 100%;
	position: fixed;
	top: 70px;
}

.menu {
	display: none;
}

.menu.on {
	display: flex;
	width: 100%;
	transition: 0.5s;
}

.menu-item {
	width: 25%;
	flex-grow: 1;
	padding: 1rem;
	text-align: center;
	transition: 0.5s;
}

.menu-item:hover {
	width: 35%;
	background-color: burlywood;
}

/* background image */
.cover-img {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 500px;
	min-height: 200px;
}

.cover-img::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.5;
	background-image: url('coding1.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	height: 100%;
	content: "";
}

/* card list */
.card-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, auto));
	column-gap: 2%;
    margin: 1rem;
}
.card-item {
    /* width: 250px; */
	margin-bottom: 2rem;
    background: white;
}
.card-image {
	height: 0;
	padding-bottom: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(alog_img.png);
	transform: scale(1);
}

.card-image:hover {
	transform: scale(0.9);
}

.card-image img {
	display: none;
}
.card-desc {
	padding: 1em;
}

.post-title {
    text-align: center;
	padding-bottom: 0.5em;
}

.date, .writer {
    text-align: right;
    font-size: 12px;
}

.goto-write {
	display: flex;
	justify-content: flex-end;
}

.goto-write-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 30px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	background-color: steelblue;
	border-radius: 10px;
}

.footer {
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #647586;
	color: #b2bbc3;
}

@media (min-width: 1024px) {
	.page {
		display: grid;
		grid-template-columns: 20% 1fr 20%;
	}
	.header {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}
	.cover-img {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}
	.menu {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}
	.section {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}
	.footer {
		grid-column: 1 / 4;
		grid-row: 4 / 5;
	}
}
@media (min-width: 1400px) {
	.page {
		grid-template-columns: 300px 1fr 300px;
	}
}