.section ol, 
.section ul,
.section li {
    list-style: initial !important;
}

textarea {
    width:80vh;
    max-height: 5vh;
    margin: 1rem;
}

blockquote {
    /* border: 1px solid gray; */
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 10px solid lightgray;
}

blockquote p {
    margin: 0;
    color: gray;
}

.detail-submit-box {
    display: flex;
    width: 100vh;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
}

.detail-submit-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50vh; */
    height: 40px;
    /* padding: 0 1rem 1rem 1rem; */
    margin: 1rem;
    background-color: crimson;
}

.detail-to-login {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.submit {
    height: 30px;
}

/* 블로그 글 관련 */

.detail-post-status-btn {
    display: flex;
    justify-content: flex-end;
}

.post-status-btn {
    text-decoration: none;
    margin: 0 0.5rem;
    color: steelblue;
    font-weight: bold;
}

.detail-post-title {
    margin: 1rem;
    text-align: center;
}

.detail-post-content {
    margin: 1rem;
    padding: 1rem;
}

.detail-post-answer {
    margin: 1rem;
    padding-bottom: 10px;
    border-bottom: 2px solid steelblue;
}

.detail-post-list {
    margin: 1rem;
    /* border: 1px solid blue; */
}

.detail-post-item {
    display: flex;
    /* font-size: 0.9em; */
    margin: 1.5rem 0;
}

/* 댓글관련 */

.answer-username {
    margin-right: 1rem;
    font-weight: bold;
}

.answer-text-right {
    margin-left: auto;
}

.answer-text {
    margin-left: 1rem;
}

.modify-link,
.comment-link,
.delete-link {
    text-decoration: none;
    color: steelblue;
}

.comment-list {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    color: #666666;
}

.comment-item {
    display: flex;
    flex-wrap: wrap;
}

.comment-author {
    margin-bottom: 0.5em;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }