textarea {
    width:80vh;
    max-height: 5vh;
    margin: 1rem;
}

.detail-submit-box {
    display: flex;
    width: 100vh;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
}

.detail-submit-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50vh; */
    height: 40px;
    /* padding: 0 1rem 1rem 1rem; */
    margin: 1rem;
    background-color: crimson;
}

.detail-to-login {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.submit {
    height: 30px;
}

/* 블로그 글 관련 */

.detail-post-status-btn {
    display: flex;
    justify-content: flex-end;
}

.post-status-btn {
    text-decoration: none;
    margin: 0 0.5rem;
    color: steelblue;
    font-weight: bold;
}

.detail-post-title {
    margin: 1rem;
    text-align: center;
}

.detail-post-content {
    margin: 1rem;
    padding: 1rem;
}

.detail-post-answer {
    margin: 1rem;
    padding-bottom: 10px;
    border-bottom: 2px solid steelblue;
}

.detail-post-list {
    margin: 1rem;
    /* border: 1px solid blue; */
}

.detail-post-item {
    display: flex;
    font-size: 0.9em;
    margin: 1.5rem 0;
}

/* 댓글관련 */

.answer-username {
    margin-right: 1rem;
}

.answer-modify {
    margin-left: auto;
}

.answer-delete {
    margin-left: 1rem;
}

.modify-link,
.delete-link {
    text-decoration: none;
    color: steelblue;
}